* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(31, 31, 42);
    color: rgb(228, 222, 255);
}

.img-border {
    border-radius: 10px;
}

section {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section > p {
font-size: 1.2em;
  color: #bebebf;
  line-height: 30px;
}

#introduction-img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

#main-heading {
  font-size: 2.5em;
}

#welcome-span {
  font-weight: bold;
  font-size: 20px;
}

#rocketseat-span {
  color: rgb(130, 87, 229);
  font-weight: bold;
}

.memory-section {
  margin-bottom: 30px;
  background-color: #16161e;
}

.memory-img {
  width: 100%;
  height: 450px;
  object-fit: contain;
}